<div class="row">
	<div class="span6">
		<%= form_tag("authentication/login") do %>
			<%= text_field_tag :email, "", :placeholder => "Email" %>
			<%= password_field_tag :password, "", :placeholder => "Password" %>
			<br />
			<%= submit_tag "Log in", :class => "btn btn-primary btn-large" %>
		<% end %>
	</div>
</div>
